.lob-blockquote {
  background-color: #fafafa;
  color: black;
}

.lob-blockquote__wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  text-align: center;
}

.lob-blockquote__text {
  display: inline-block;
  max-width: 640px;
  padding: 0 2.5rem;
  position: relative;
  text-align: left;
}

.lob-blockquote__text p {
  font-size: 25.632px;
}

.lob-blockquote__text::before {
  color: #757575;
  content: "\201C";
  font-size: 83.232px;
  left: 0;
  line-height: 5.2rem;
  position: absolute;
  top: -10px;
}

.lob-blockquote__text::after {
  bottom: 5px;
  color: #757575;
  content: "\201D";
  font-size: 83.232px;
  line-height: 0;
  position: absolute;
  right: 0;
}

.lob-blockquote__attribution {
  display: block;
  text-indent: -0.75rem;
  padding-left: 1.75rem;
}

.lob-blockquote__attribution--wrapper {
  display: inline-block;
  font-size: 16px;
  max-width: 640px;
  padding: 0 1rem;
  position: relative;
  text-align: left;
}

cite {
  color: black;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

cite > :first-child::before {
  content: "\2014";
  display: inline-block;
  padding-right: 18px;
}
