{{ attach_library('lots_of_blocks/lob_blockquote') }}

<blockquote class="lob-blockquote">
  <div class="lob-blockquote__wrapper">
    <div class="lob-blockquote__text">
      {{ blockquote.text }}
    </div>
    {% if blockquote.attribution %}
      <footer class="lob-blockquote__attribution">
        <div class="lob-blockquote__attribution--wrapper">
          <cite>
            {{ blockquote.attribution }}
          </cite>
        </div>
      </footer>
    {% endif %}
  </div>
</blockquote>
